/* styles for body, container,
and styles that are applied to multiple elements */

body {
	font-family: Arial, sans-serif;
}

.container {
	width: 80%;
	margin: 0 auto;
}

/* styles for header and navigation */

.logo {
	border-radius: 50%;
}

header, footer {
	text-align: center;
}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav li {
	display: inline;
	padding: 0.5em;
}

nav a:active, nav a:hover, nav a:visited, nav a:link {
	text-decoration: none;
	color: #000000;
}

nav a:hover {
	font-weight: bold;
	background-color: #cccccc;
}

/* styles for main content */

#hero {
	width: 100%;
}



/* styles for footer */

footer {
	font-size: 0.75em;
	padding: 0.5em 0;
}

